* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

div{
    width: 20%;
    padding: 1rem 0;
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
    margin: auto;
}

.c1{
    background-color: green;
}

.c2{
    background-color: blue;
}

.c3{
    background-color: blueviolet;
}

.c4{
    background-color: yellow;
}

.c5{
    background-color: red;
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    div{
        width: 100%;
    }
}