* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

div{
    width: 24%;
    height: 150px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    height: 460px;
}

.c1{
    background-color: green;
}

.c2{
    background-color: blue;
}

.c3{
    background-color: blueviolet;
}

.c4{
    background-color: yellow;
}

.c5{
    background-color: red;
    flex-basis: 98%;
}